<footer class="section footer wf-section">
      <div class="container vertical">
        <div class="footer__wrap">
          <div>
            <a href="{{ links.-2bfa6a9e }}" target="_blank" class="footer-link-icon w-inline-block">
              <div class="footer__link-social w-embed"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
                  <def>
                    <style type="text/css">
      .icon-social {
        fill: #FFFFFF;
      }
    </style>
                  </def>
                  <path class="icon-social" d="M16.5,27.5c7,0,10.8-5.8,10.8-10.8c0-0.2,0-0.3,0-0.5c0.8-0.5,1.4-1.2,1.9-2
	c-0.7,0.3-1.5,0.5-2.2,0.6c0.8-0.5,1.4-1.2,1.7-2.1c-0.8,0.5-1.5,0.8-2.4,0.9c-1.5-1.5-3.9-1.6-5.4-0.2c-1,0.9-1.4,2.3-1.1,3.6
	c-3.1-0.2-5.9-1.6-7.8-3.9c-1,1.7-0.5,3.9,1.2,5.1c-0.6,0-1.2-0.2-1.7-0.5v0.1c0,1.8,1.2,3.4,3,3.7c-0.5,0.2-1.2,0.2-1.7,0.1
	c0.5,1.5,1.9,2.6,3.5,2.6c-1.3,1.1-3,1.6-4.7,1.6c-0.3,0-0.6,0-0.9-0.1C12.4,27,14.5,27.6,16.5,27.5"></path>
                </svg></div>
            </a>
          </div>
          <a href="{{ links.2f }}" aria-current="page" class="link-logo w-inline-block w--current"><img src="{{ images.3db6a09d.url }}" loading="eager" alt="{{ images.3db6a09d.alt | trim | escape }}" class="logo"></a>
        </div>
        <div class="footer__wrap last">
          <div class="copyright">{{ texts.-453a0cea }}</div>
          <div class="footer__wrap-links">
            <a href="{{ links.74769ba2 }}" class="text-link-simple">{{ texts.-64104400 }}</a>
            <a href="{{ links.2cc45ea }}" class="text-link-simple no-margin">{{ texts.-3fbde6f6 }}</a>
          </div>
        </div>
      </div><img class="img-footer" src="{{ images.6aa5e891.url }}" alt="{{ images.6aa5e891.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" loading="lazy">
    </footer>