<footer class="section footer wf-section">
      <div class="container vertical">
        <div class="footer__wrap">
          <div>
            <a href="{{ links.-2bfa6a9e }}" target="_blank" class="footer-link-icon w-inline-block">
              <div class="footer__link-social w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                  <defs>
                    <style type="text/css">
      .icon-social {
        fill: #ddd;
      }
    </style>
                  </defs>
                  <path class="icon-social" d="M546.371,585.858a11.414,11.414,0,0,0,11.492-11.492q0-.262-.011-.522a8.216,8.216,0,0,0,2.015-2.092,8.051,8.051,0,0,1-2.32.636,4.053,4.053,0,0,0,1.776-2.234,8.1,8.1,0,0,1-2.565.98,4.043,4.043,0,0,0-6.883,3.683,11.468,11.468,0,0,1-8.326-4.22,4.043,4.043,0,0,0,1.251,5.392,4.009,4.009,0,0,1-1.829-.505c0,.017,0,.034,0,.052a4.04,4.04,0,0,0,3.241,3.96,4.029,4.029,0,0,1-1.824.069,4.043,4.043,0,0,0,3.773,2.806,8.1,8.1,0,0,1-5.017,1.729,8.214,8.214,0,0,1-.964-.056,11.434,11.434,0,0,0,6.192,1.814" transform="translate(-530.023 -557.858)"></path>
                </svg></div>
            </a>
            <a href="{{ links.-2bfa6a9e }}" target="_blank" class="footer-link-icon w-inline-block">
              <div class="footer__link-social w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40">
                  <defs>
                    <style type="text/css">
      .icon-social {
        fill: #ddd;
      }
    </style>
                  </defs>
                  <path class="icon-social" d="M15.821,1H2.171A1.166,1.166,0,0,0,1.005,2.156v13.7A1.166,1.166,0,0,0,2.171,17H15.835a1.171,1.171,0,0,0,1.17-1.152h0V2.157A1.171,1.171,0,0,0,15.834,1h-.015ZM5.75,14.639H3.374V7H5.75ZM4.563,5.959A1.376,1.376,0,1,1,5.939,4.583h0v0A1.375,1.375,0,0,1,4.564,5.96h0Zm10.073,8.679H12.267V10.926c0-.886-.018-2.025-1.234-2.025-1.236,0-1.424.963-1.424,1.959v3.778H7.239V7H9.515V8.045h.031A2.5,2.5,0,0,1,11.7,6.81l.1,0h0c2.4,0,2.844,1.58,2.844,3.637v4.19Z" transform="translate(10.995 10.996)"></path>
                </svg></div>
            </a>
          </div>
          <a href="{{ links.2f }}" aria-current="page" class="link-logo w-inline-block w--current"><img src="{{ images.-2a484e45.url }}" loading="eager" alt="{{ images.-2a484e45.alt | trim | escape }}" class="logo"></a>
        </div>
        <div class="footer__wrap last">
          <div class="copyright">{{ texts.-453a0cea }}</div>
          <div class="footer__wrap-links">
            <a href="{{ links.74769ba2 }}" class="text-link-simple">{{ texts.-64104400 }}</a>
            <a href="{{ links.2cc45ea }}" class="text-link-simple no-margin">{{ texts.-3fbde6f6 }}</a>
          </div>
        </div>
      </div><img class="img-footer" src="{{ images.6aa5e891.url }}" alt="{{ images.6aa5e891.alt | trim | escape }}" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" loading="lazy">
    </footer>